/* Estilos gerais */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: fit-content; /* Define o tamanho do card para se ajustar ao conteúdo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  /* Estilos para o parágrafo */
  p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Estilos para os botões */
  button {
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:last-child {
    margin-bottom: 0;
  }
  