/* Estilos para o parágrafo */
p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Estilos para o cabeçalho h1 */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilos para os botões */
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Ajuste opcional para o layout dos botões */
  button:last-child {
    margin-right: 0;
  }
  